h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  width: 678px;
  padding-top: 148px;
  margin: 0;
}

ol, ul, p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}

body{
  margin: 0;
  padding: 0;
  
  color: #1B1B1B;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container{
  margin: 0 auto;
  max-width: 1160px;
}

.menu{
  width: 100%;
  height: 108px;
  
  background: #FFF;
  box-shadow: 0px 15px 20px 0px rgba(33, 33, 51, 0.03);
}

.menu .container{
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.switcher{
  display: inline-flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 3px;

  width: 128px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid #4D1299;
}

.switcherBlock{
  display: flex;
  padding: 5px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 25px;
  color: black;

  cursor: pointer;
}

.switcherActive{
  background: #4D1299;
  color: #FFF;
}

.tell{
  display: inline-flex;
  padding: 18px 26px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: #4D1299;
  padding: 18px 26px;
  border-radius: 50px;
  border: 2px solid #4D1299;
}

.menuIcon{
  cursor: pointer;
}

.home{
  background: #F4F4F8;
}

.mainScreen{
  position: relative;
  z-index: 2;
}

.highlighting{
  color: #4D1299;
}

.info{
  width: 604px;

  font-size: 18px;

  margin-top: 20px;
  margin-bottom: 40px;
}

.order{
  border-radius: 50px;
  background: #4D1299;
  color: #FFF;
  padding: 18px 26px;

  cursor: pointer;

  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.homeImg{
  position: absolute;
  z-index: 1;
  left: calc(100% - 1000px);
  top: 250px;
}

.features{
  display: flex;
  height: 460px;
  justify-content: space-between;
  margin-top: 256px;
  padding-bottom: 120px;
}

.feature{
  padding-top: 100px;
  width: 260px;
}

.feature img{
  width: 200px;
  display: flex;
  margin: 0 auto;
}

.feature h3{ 
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.feature p{
  
  text-align: center;
  font-size: 18px;
  
}

.included h2{
  text-align: center;
  
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 115px;
  margin-bottom: 65px;
}

.includedBlocks{
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.includedBlocContent{
  margin: 40px;
}

.includedBlock{
  max-width: 560px;
  height: 391px;
  
  position: relative; 

  border-radius: 30px;
  background: #F4F4F8;
}

.includedBlock h3{
  color: #4D1299;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.includedBlock h4{ 
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.includedBlock span{
  position: absolute; bottom: 40px;
  color: rgba(27, 27, 27, 0.60);
  font-size: 16px;
}

.mainSwitcherRooms{
  display: flex;
  padding: 6px;
  align-items: flex-start;

  border-radius: 50px;
  border: 2px solid #4D1299;
  background: #FFF;
  margin-bottom: 60px;
}

.SwitcherRoom{
  display: flex;
  padding: 16px 80px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  color: black;
}

.SwitcherRoomActive{
  border-radius: 50px;
  color: white;
  background: #4D1299;
}

.switcherRoomsImg{
  position: relative;
  margin-bottom: 115px;
}

.switcherRoomsImg img{
  display: flex;
  margin: 0 auto;
  z-index: 1;
}

.textPlusBlock p{
  display: inline-flex;
  padding: 7px 10px;
  align-items: flex-start;
  gap: 8px;

  font-size: 13px;

  border-radius: 5px;
  background: #FFF;
}

.textPlusBlock img{
  margin-bottom: 5px;
}

.plusBlockFloor{
  position: absolute;
  z-index: 2;
  left: 325px;
  top: 635px;
}

.plusBlockTile{
  position: absolute;
  z-index: 2;
  left: 420px;
  top: 360px;
}

.plusBlockStove{
  position: absolute;
  z-index: 2;
  left: 615px;
  top: 415px;
}

.plusBlockStove .textPlusBlock img{
  rotate: 180deg;
  margin-top: 5px;
  margin-bottom: 0;
}

.plusBlockEquipment{
  position: absolute;
  z-index: 2;
  left: 820px;
  top: 300px;
}

.plusBlockWindowsills{
  position: absolute;
  z-index: 2;
  text-align: center;
  width: 240px;
  left: 870px;
  top: 140px;
}

.subscribe{
  background: #F4F4F8;
  padding-bottom: 115px;
}

.subscribe h2{
  text-align: center;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding-top: 115px;
  padding-bottom: 15px;
}

.subscribeInfo{
  display: flex;
  width: 657px;
  margin: 0 auto;

  text-align: center;

  padding-bottom: 50px;
}

.banner1{
  height: 423px;

  border-radius: 30px;
  background: #EBE7F3;
  margin-bottom: 50px;
}

.banner1Container{
  padding: 88px 60px;
  display: flex;
  justify-content: space-between;
}

.banner1Right h3{
  display: flex;
  width: 500px;

  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
}

.banner1Right ol ul{
  display: flex;
  align-items: center;
  
  margin: 32px 0;
}

.banner1Left h3{
  color: #4D1299;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.banner1Left p{
  display: flex;
  width: 400px;

  color: rgba(27, 27, 27, 0.60);
  text-align: center;

  margin-bottom: 35px;
}

.banner1Left button{
  display: flex;
  width: 400px;
  padding: 18px 26px;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  background: #4D1299;

  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.circle{
  background-color: #4D1299;
  border-radius: 100px;
  max-width: 11px;
  max-height: 11px;
  min-width: 11px;
  min-height: 11px;
  margin-right: 12px;
}

.valentinBlock{
  display: flex;
  align-items: center;
}

.valentinBlock p{
  margin-left: 12px;
  display: flex;
  width: 442px;
}

.banner2{
  height: 311px;

  border-radius: 30px;
  background: #4D1299;
  display: flex;
  justify-content: space-between;
}

.banner2 p{
  width: 540px;

  color: #EBE7F3;

  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
  padding: 100px 60px;
}

.banner2 img{
  width: 311px;
  height: 311px;

  margin: 0 115px;
}

.banner2 span{
  color: white;
  background-color: tomato;
  border-radius: 50px;
  padding: 2px;
}

.block3{
  display: flex;
  justify-content: space-between;
}

.block3 img{
  margin-top: 60px;
}

.block3 h3{
  margin-top: 185px;
  margin-bottom: 24px;
  width: 560px;

  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
}

.block3 ul ol{
  display: flex;

  margin-bottom: 16px;
}

.blocks4{
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 65px;
}

.block4{
  width: 360px;
}

.block4 img{
  width: 200px;
  display: flex;
  margin: 0 auto;
}

.block4 h3{
  
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.block4 p{
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.buySubscribe{
  display: flex;
  padding: 18px 26px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  border-radius: 50px;
  background: #4D1299;

  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.reviews{
  background-color: white;
}

.reviews h2{
  text-align: center;

  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 115px;
  margin-bottom: 65px;
}

.review{
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  border-radius: 30px;
  background: #F4F4F8;
  margin-bottom: 36px;
}

.reviewsBlocks{
  display: flex;
  justify-content: space-between;
  padding: 28px 24px;
}

.reviewsBlocks h3{
  color: #1B1B1B;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.stars{
  margin-bottom: 16px;
}

.reviewContainer{
  padding: 28px 24px;
}

.btnsRewiew{
  display: flex;
  justify-content: center;
  margin-bottom: 115px;
}

.btnRewiew{
  display: inline-flex;
  padding: 18px 26px;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  border: 2px solid #4D1299;
  background: #FFF;

  color: #4D1299;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btnRewiewActive{
  background: #4D1299;
  color: #FFF;
}

.trust{
  background: #F4F4F8;
  padding: 116px 0;
}

.trustContainer{
  border-radius: 30px;
  background: #EBE7F3;
  padding: 116px 0;
  position: relative;
}

.trustContainerH2{
  text-align: center;

  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding-bottom: 25px;
  margin: 0;
}

.trustBlocksLine{
  display: flex;
  justify-content: space-between;
  margin: 40px 60px;
}

.trustBlock{
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  border-radius: 30px;
  background: #F4F4F8;
  position: relative;
}

.trustBlockContainer{
  padding: 40px;
}

.trustBlockContainer h3{
  color: #4D1299;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.trustBlockContainer h2{
  color: #1B1B1B;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.trustBlockContainer p{
  display: flex;
  width: 421px;
  flex-direction: column;
}

.vecteezy-hand-brush-cleaner{
  position: absolute;
  top: 898px;
  left: 0;
}

.vecteezy-stylized-cleaning-sponge{
  position: absolute;
  top: 495px;
  right: -10px;
}

.btnTrust{
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
  padding: 18px 26px;
  align-items: center;
  border-radius: 50px;
  background: #4D1299;
  color: #FFF;
}


footer{
  border-radius: 30px 30px 0px 0px;
  background: #EBE7F3;
  padding: 60px 0 14px 0;
}

.footerBlocks{
  display: flex;
  justify-content: space-between;
}

.footerBlocks h3{
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footerBlocks ol ul{
  

  font-size: 18px;
  margin-bottom: 8px;
}

.contactFooter ul a{
  color: #4D1299;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.socialsFooter img{
  background-color: #FFF;
  border-radius: 100px;
  cursor: pointer;
}

.footerSecurity{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 566px;
}

.footerSecurity p{
  margin-top: 110px;
  color: rgba(27, 27, 27, 0.60);
  font-size: 12px;

  cursor: pointer;
}