.menuClick {
  position: fixed;
  right: 0;
  width: 600px;
  height: 100%;

  background: #4d1299;
  color: #fff;
  display: none;
  z-index: 9999;
}

.closeMenu {
  position: fixed;
  top: 40px;
  right: 138px;
  width: 28px;
  height: 28px;
  --weight: 3px;
  --aa: 1px;
  /* anti-aliasing */
  --color: #fff;
  border-radius: 3px;
  background: linear-gradient(
      45deg,
      transparent calc(50% - var(--weight) - var(--aa)),
      var(--color) calc(50% - var(--weight)),
      var(--color) calc(50% + var(--weight)),
      transparent calc(50% + var(--weight) + var(--aa))
    ),
    linear-gradient(
      -45deg,
      transparent calc(50% - var(--weight) - var(--aa)),
      var(--color) calc(50% - var(--weight)),
      var(--color) calc(50% + var(--weight)),
      transparent calc(50% + var(--weight) + var(--aa))
    );
}

.menuHeader > a > img {
  display: none;
}

.menuHeader {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.menuHeader > .switcher {
  display: none;
  border: 2px solid #ebe7f3;
}

.menuHeader .switcherBlock {
  color: #fff;
}

.menuHeader .switcherActive {
  background: #fff;
  color: #4d1299;
}

.closeMenu:hover {
  transform: rotate(1080deg);
  transition: 1s;
}

.menuBlock {
  padding: 167px 77px;
  padding-bottom: 93px;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.menuBlock a {
  color: #fff;
}

.menuBlock a:hover {
  color: gold;
}

.menuContact {
  padding-left: 77px;
  display: flex;
  align-items: center;
}

.menuContact img {
  background-color: #fff;
  border-radius: 100%;
  margin-right: 15px;
  width: 40px;
  height: 40px;
}

.menuTell {
  color: #4d1299;
  border-radius: 50px;
  background: #fff;
  padding: 18px 26px;
}

@media only screen and (max-width: 1024px) {
  .menuBlock {
    padding: 215px 61px;
    padding-bottom: 96px;
  }

  .menuContact {
    padding-left: 61px;
  }

  .menuContact img {
    width: 32px;
    height: 32px;
  }

  .closeMenu {
    right: 35px;
  }
}

@media only screen and (max-width: 658px) {
  .menuClick {
    width: 100%;
  }

  .menuBlock {
    padding: 65px 20px;
    padding-bottom: 81px;
  }

  .menuContact {
    padding-left: 20px;
  }

  .menuContact img {
    width: 32px;
    height: 32px;
  }

  .closeMenu {
    position: initial;
  }

  .menuHeader > a > img {
    display: block;
  }

  .menuHeader > .switcher {
    display: flex;
  }
}
