.included {
  background-color: #fff;
}

.included h2 {
  text-align: center;

  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 115px;
  margin-top: 0;
  padding-bottom: 65px;
}

.includedBlocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.includedBlocContent {
  padding: 40px;
}

.includedBlock {
  max-width: 560px;

  position: relative;

  border-radius: 30px;
  background: #f4f4f8;

  padding-bottom: 60px;
}

.includedBlock01 {
  margin-right: 30px;
}

.includedBlock h3 {
  color: #4d1299;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0;
}

.includedBlock h4 {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.includedBlock span {
  position: absolute;
  bottom: 40px;
  color: rgba(27, 27, 27, 0.6);
  font-size: 16px;
  width: 70%;
}

.mainSwitcherRooms {
  display: flex;
  padding: 6px;
  align-items: flex-start;

  border-radius: 50px;
  border: 2px solid #4d1299;
  background: #fff;
  margin-bottom: 60px;
}

.SwitcherRoom {
  display: flex;
  padding: 16px 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  color: black;
}

.SwitcherRoom:hover {
  border-radius: 50px;
  background: #4d1299;
  transition: 0.5s;
  opacity: 0.7;
}

.SwitcherRoom:hover a {
  color: white !important;
}

.SwitcherRoomActive {
  border-radius: 50px;
  background: #4d1299;
  opacity: 1 !important;
}

.SwitcherRoomActive a {
  color: white !important;
}

.KitchenRooms {
  display: block !important;
}

.RoomRooms {
  display: block !important;
}

.BathroomRooms {
  display: block !important;
}

.switcherRoomsImg {
  position: relative;
  padding-bottom: 115px;
  display: none;
}

.switcherRoomsImg > .plusBloks > img {
  display: flex;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-height: 865px;
  border-radius: 20px;
}

.switcherRoomsImg img {
  display: flex;
  margin: 0 auto;
}

.textPlusBlock p {
  display: inline-flex;
  padding: 7px 10px;
  align-items: flex-start;
  gap: 8px;

  font-size: 13px;

  border-radius: 5px;
  background: #fff;
}

.textPlusBlock img {
  margin-bottom: 5px;
}

.plusBloks {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.plusBloks > div {
  position: absolute;
  z-index: 2;
}

.KitchenPlusBloks {
  display: block;
}

.RoomPlusBloks {
  display: block;
}

.BathPlusBloks {
  display: block;
}

.KitchenPlusBloks .plusBlockFloor {
  position: absolute;
  z-index: 2;
  left: 25%;
  bottom: 6%;
  width: 9%;
  height: 15%;
}

.KitchenPlusBloks .plusBlockTile {
  position: absolute;
  z-index: 2;
  left: 37%;
  bottom: 46%;
  width: 11%;
  height: 10%;
}

.KitchenPlusBloks .plusBlockStove {
  position: absolute;
  z-index: 2;
  left: 54%;
  top: 53%;
  width: 14%;
  height: 10%;
}

.KitchenPlusBloks .plusBlockStove .textPlusBlock img {
  rotate: 180deg;
  margin-top: 5px;
  margin-bottom: 0;
}

.KitchenPlusBloks .plusBlockEquipment {
  position: absolute;
  z-index: 2;
  left: 70%;
  bottom: 58%;
  width: 9%;
  height: 10%;
}

.KitchenPlusBloks .plusBlockWindowsills {
  position: absolute;
  z-index: 2;
  text-align: center;
  left: 76%;
  bottom: 71%;
  width: 18%;
  height: 10%;
}

.RoomPlusBloks .plusBlockFloor {
  position: absolute;
  z-index: 2;
  left: 25%;
  bottom: 13%;
  width: 9%;
  height: 15%;
}

.RoomPlusBloks .plusBlockTile {
  position: absolute;
  z-index: 2;
  left: 28%;
  bottom: 47%;
  width: 11%;
  height: 10%;
}

.RoomPlusBloks .plusBlockStove {
  position: absolute;
  z-index: 2;
  left: 54%;
  top: 53%;
  width: 14%;
  height: 10%;
}

.RoomPlusBloks .plusBlockStove .textPlusBlock img {
  rotate: 180deg;
  margin-top: 5px;
  margin-bottom: 0;
}

.RoomPlusBloks .plusBlockEquipment {
  position: absolute;
  z-index: 2;
  left: 70%;
  bottom: 58%;
  width: 9%;
  height: 10%;
}

.RoomPlusBloks .plusBlockWindowsills {
  position: absolute;
  z-index: 2;
  text-align: center;
  left: 76%;
  bottom: 88%;
  width: 18%;
  height: 10%;
}

.BathPlusBloks .plusBlockFloor {
  position: absolute;
  z-index: 2;
  left: 25%;
  bottom: 23%;
  width: 9%;
  height: 15%;
}

.BathPlusBloks .plusBlockTile {
  position: absolute;
  z-index: 2;
  left: 33%;
  bottom: 65%;
  width: 11%;
  height: 10%;
}

.BathPlusBloks .plusBlockStove {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 40%;
  width: 14%;
  height: 10%;
}

.BathPlusBloks .plusBlockStove .textPlusBlock img {
  rotate: 180deg;
  margin-top: 5px;
  margin-bottom: 0;
}

.BathPlusBloks .plusBlockEquipment {
  position: absolute;
  z-index: 2;
  left: 70%;
  bottom: 35%;
  width: 9%;
  height: 10%;
}

.BathPlusBloks .plusBlockWindowsills {
  position: absolute;
  z-index: 2;
  text-align: center;
  left: 76%;
  bottom: 88%;
  width: 18%;
  height: 10%;
}

@media only screen and (max-width: 1024px) {
  .includedBlock {
    max-width: 330px;
  }

  .textPlusBlock p {
    font-size: 9px;
  }

  .plusBlockStove .textPlusBlock img {
    margin-bottom: -2px !important;
  }
}

@media only screen and (max-width: 658px) {
  .includedBlocks {
    display: block;
  }

  .includedBlock {
    margin: 24px auto;
    max-width: 100%;
  }

  .plusBloks p {
    font-size: 6px;
  }

  .plusBlockStove .textPlusBlock img {
    margin-bottom: -7px !important;
  }
}
