h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

ol, ul, p{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

*:not(:hover) {
  transition: 1s;
}

body{
  margin: 0;
  padding: 0;
  
  color: #1B1B1B;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #F4F4F8;
}

.container{
  margin: 0 auto;
  padding: 0 140px;
  max-width: calc(1160px + 140px);
}

.circle{
  background-color: #4D1299;
  border-radius: 100px;
  max-width: 11px;
  max-height: 11px;
  min-width: 11px;
  min-height: 11px;
  margin-right: 12px;
}

button:hover{
  padding-block: 1.75rem;
  padding-inline: 2rem;
  transition: 1s;
  cursor: pointer;
}

a:hover{
  color: #4D1299;
}

button > a:hover{
  color: gold;
}


@media only screen and (max-width: 1024px) {
  .container{
    padding: 0 39px;
    max-width: calc(690px + 39px);
  }  

  h1{
    font-size: 36px;
  }
}

@media only screen and (max-width: 658px) {
  .container{
    padding: 0 20px;
    max-width: calc(690px + 20px);
  } 

  h1{
    font-size: 26px;
  }

}